{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block content %}

  {% if user.is_authenticated  %}
    <h1>Hello {{ user.username }}</h1>
    <a href="{% url 'accounts:logout' %}">Exit</a>
  {% else %}
    <h1>Please sign in</h1> <br>
    <form method="POST">
        {% csrf_token %}       
        {% bootstrap_form form layout="inline" %}     
        <button type="submit" class="btn btn-primary elm-single">Sign in</button> 
        <a href="{% url 'accounts:register' %}" class="elm-single">Create an account</a>       
    </form>  
  {% endif %}
{% endblock %}
